<div class="col-md-3 left_col" data-th-fragment="top-fragments">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div data-th-replace="fragments/fragment-menu-profile-quick-info :: menu-profile-quick-info"></div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div data-th-replace="fragments/fragment-sidebar-menu :: sidebar-menu"></div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div data-th-replace="fragments/fragment-menu-footer-buttons :: menu-footer-buttons"></div>
        <!-- /menu footer buttons -->
    </div>
</div>